@model IEnumerable<BridgeMVC.Models.Product>


@{
    Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
}


<h4 style="margin-top:1px"> Products </h4>

<table class="table">
    <colgroup>
        <col span="1" style="width: 18%;">
        <col span="1" style="width: 18%;">
        <col span="1" style="width: 18%;">
        <col span="1" style="width: 18%;">
        <col span="1" style="width: 18%;">
        <col span="1" style="width: 10%;">
    </colgroup>
    <tr>
        <th>
            Main Type
        </th>
        <th>
            Sub Type
        </th>
        <th>
            Product name
        </th>
        <th>
            Design Pressure
        </th>
        <th>
            Design Temp.
        </th>
        <th>
            Note
        </th>
    </tr>


    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MainProdType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubProdType)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id })

            </td>


        </tr>
    }

</table>
