@model BridgeMVC.Models.AppModels.Tenant
@{
    Layout = "";
    ViewBag.Title = "Sign Up";
}

<div class="container">
    <header class="header">
        <a class="branding__link" href="#">
            <img class="branding__brand-image" src="https://mydnvglcdn.azureedge.net/cdn/common/images/logo/dnvgl-logo-wide.svg" alt="Back to DNV GL">
        </a>
        <span style="float:right">
            <font face="Broader View" size=3 color="black">Bridge - a digital lean tool </font>
        </span>


    </header>
</div>

<h1>&nbsp;</h1>
<div style="padding-left:6em">
    <h2>Welcome to Bridge.</h2>
    <div>Please sign in with you DNVGL account. Bridge will read the basic information of your profile.</div>
    <br />

    <div>
        @ViewBag.u
    </div> 

    <span style="font-size:x-large; background-color:gainsboro">
        @Html.ActionLink("SIGN IN", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })
    </span>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>