@model IEnumerable<BridgeMVC.Models.DocReq>
@{

    string bridgeModule = (string)Session["BridgeModule"];
}

@{
    Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
}

y<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocReqItem)
            </td>

        </tr>
    }
</table>
<script>
    var bm = "@bridgeModule";
    if (bm == "M2") {
        $("#listTitle").html("Required Documentation")
    }


</script>