@model IEnumerable<BridgeMVC.Models.Rule>

@{
    Layout = null;
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bridge</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/bridgeScript.js"></script>

    <style>
        body {
            font: Avenir Next;
        }
    </style>
</head>


<h4 style="margin-top:1px">Applicable Rules <span style="float:right; padding-right:4em"> @Html.ActionLink("Add New", "Create")</span></h4>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.RuleName)
            </td>

            <td>

                @using (Html.BeginForm("Delete", "Rule", new { id = item.Id }, FormMethod.Post, null))
                {@Html.AntiForgeryToken()
                <input type="submit" value="Delete" />
            }
            </td>
        </tr>
    }

</table>
