@*//next task, send job and return to work list*@
<h4>&nbsp;</h4>
<div class="col-lg-12">
    <hr>
    <div class="col-lg-5">
        <h3>Please select the new task handler:</h3>
        <select id="selectListHandler" class="form-control" name="NewHandler"></select>
    </div>
    <div class="col-lg-5">
        <h3> and new task:</h3>
        <select id="selectListTask" class="form-control" name="NewTask"></select>
    </div>
</div>
<h4>&nbsp;</h4>
<input value="Send job" class="btn btn-default" id="sendJobEmail" type="submit" readonly />

<input class="btn btn-default" value="Return to worklist" style="float:right" readonly onclick="window.location='@Url.Action("_Index", "Job")'" />
