.bing {
    float: left;
    /*width: 450px;*/
    padding: 0.5em 1em 0.5em 1em;
    min-width: 400px;
    font-weight: bold;
}

body {
    font: Avenir Next;
    margin-left: 60px;
    margin-right: 60px;
    /*min-width:1600px;*/
}

.navbar {
    background-color: white;
    font-size: 16px;
}

    .navbar a {
        color: black;
    }

.navbar-collapse {
    background-color: cadetblue;
    color: white;
}

.dropbtn {
    background-color: white;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.form-control {
    font-weight: normal;
}

.hiddenBtn {
    color: transparent;
    background-color: transparent;
    border: none;
    float: right;
} 

.classTY {
    background-color: seagreen;
    color: transparent;
    cursor: pointer;
    width: 40px;
    border-style: none;
}

.classTN {
    background-color: gainsboro;
    color: transparent;
    cursor: pointer;
    width: 40px;
    border-style: none;
}

.classTTASK {
    background-color: DodgerBlue;
    color: transparent;
    cursor: pointer;
    width: 40px;
    border-style: none;
}

.classTTASKIORA {
    background-color: DodgerBlue;
    color: transparent;
    cursor: pointer;
    width: 40px;
    border-style: none;
}

.classTPENDING {
    background-color: gold;
    color: black;
    cursor: pointer;
    width: 40px;
    border-style: none;
    font-size: large;
    font-weight: bold;
}

.classT {
    background-color: gainsboro;
    color: transparent;
    cursor: pointer;
    width: 40px;
    border-style: none;
}


.hoverRow p {
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    max-width: 480px;
}

.hoverRow td:hover p {
    white-space: normal;
    word-wrap: normal;
    word-break: break-all;
}

.table th, td {
    border-radius: 25px;
    border: 1px solid white !important;
}

th {
    cursor: pointer;
}

.title {
    font-size: x-large;
    font-weight: bold;
}

.styleFooter td {
    border: none !important;
}

.jobList td, p {
    padding: 0px 4px 0px 4px !important;
    margin: 0px !important;
}

.jobList div {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
}

.arrows {
    float:right;
}
