@model IEnumerable<BridgeMVC.Models.Rule>

@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bridge</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font: Avenir Next;
        }
    </style>
</head>

<h4 style="margin-top:1px">Applicable Rules </h4>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RuleName)
            </td>
        </tr>
    }
</table>
