@{
    ViewData["Title"] = "How is going";
}


<div class="row">
    <div class="col-md-9 rule-text">

        <button type="button" class="btn btn-primary">primary</button>
        <button type="button" class="btn btn-block">block</button>
        <button type="button" class="btn btn-danger">danger</button>
        <button type="button" class="btn btn-default">default</button>
        <button type="button" class="btn btn-group">group</button>
        <button type="button" class="btn btn-group-justified">group-justified</button>
        <button type="button" class="btn btn-group-lg">group-lg</button>
        <button type="button" class="btn btn-group-sm">group-sm</button>
        <button type="button" class="btn btn-group-vertical">group-vertical</button>
        <button type="button" class="btn btn-group-xs">btn-group-xs</button>
        <button type="button" class="btn btn-info">info</button>
        <button type="button" class="btn btn-lg">lg</button>
        <button type="button" class="btn btn-link">link</button>
        <button type="button" class="btn btn-md">md</button>
        <button type="button" class="btn btn-secondary">secondary</button>
        <button type="button" class="btn btn-sm">sm</button>
        <button type="button" class="btn btn-subtle">sbutle</button>
        <button type="button" class="btn btn-success">success</button>
        <button type="button" class="btn btn-toolbar">toolbar</button>
        <button type="button" class="btn btn-warning">warning</button>
        <button type="button" class="btn btn-xs">xs</button>


        <div class="sg-main" role="main">

            <!-- Patterns -->
            <div id="sg-patterns">
                <div id="viewall-Brand-Colors" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/01-Brand-Colors\index.html" class="patternLink" data-patternpartial="viewall-Brand-Colors">Colors</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Brand-Color-Palette" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/01-Brand-Colors-Color-Palette\01-Brand-Colors-Color-Palette.rendered.html" class="patternLink" data-patternpartial="Brand-Color-Palette" title="Link to Pattern">
                                Color Palette
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Brand-Color-Palette" title="View Pattern Info" id="sg-pattern-extra-toggle-Brand-Color-Palette" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Brand-Color-Palette">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <h4>Primary colors</h4>
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-skyblue-background">
                                    <strong>#99d9f0</strong><br>Sky blue<br>&nbsp;
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-landgreen-background" style="color:white;">
                                    <strong>#36842d</strong><br>Land green<br>&nbsp;
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-seablue-background" style="color:white;">
                                    <strong>#003591</strong><br>Sea blue<br>&nbsp;
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-cyan-background" style="color:white;">
                                    <strong>#009fda</strong><br>Cyan<br>&nbsp;
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-deepblue-background" style="color:white;">
                                    <strong>#0f204b</strong><br>Deep blue<br>&nbsp;
                                </div>
                            </div>

                            <h4>Secondary colors</h4>
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-yellow-background">
                                    <strong>#fecb00</strong><br>Yellow<br>&nbsp;
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-orange-background">
                                    <strong>#e98300</strong><br>Orange<br>&nbsp;
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-purple-background" style="color:white;">
                                    <strong>#6e5091</strong><br>Purple<br>&nbsp;
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-red-background" style="color:white;">
                                    <strong>#c4262e</strong><br>Red<br>&nbsp;
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 dnvgl-warmgrey-background" style="color: white">
                                    <strong>#988f86</strong><br>Warm Grey<br>&nbsp;
                                </div>
                            </div>

                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Brand-Color-Palette" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>This is an overview of DNV GL brand colors. Underneeth you can see all allowed color combinations for DNV GL digital services.\nAllowed font colors are specified on each background. Using these ensures the necessary contrast for visually impaired users.\nThe Colors are accessible through CSS-classes with the format dnvgl-{Colorname} for setting main Color and dnvgl-{Colorname}-background.\nAn example is dnvgl-skyblue or dnvgl-skyblue-background for setting Skyblue as main our background color.</p>\n","patternBreadcrumb":{"patternType":"Brand","patternSubtype":"Colors"},"patternExtension":"mustache","patternName":"Color Palette","patternPartial":"Brand-Color-Palette","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Brand-Font" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/01-Brand-Font\index.html" class="patternLink" data-patternpartial="viewall-Brand-Font">Font</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Brand-Fonts" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/01-Brand-Font-Fonts\01-Brand-Font-Fonts.rendered.html" class="patternLink" data-patternpartial="Brand-Fonts" title="Link to Pattern">
                                Fonts
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Brand-Fonts" title="View Pattern Info" id="sg-pattern-extra-toggle-Brand-Fonts" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Brand-Fonts">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <p>Avenir next is the main font for DNV GL</p>
                            <p>Fonts prioritized from most too least wanted:  Avenir Next, Avenir,Helvetica Neue, Helvetica, Arial, Calibri, Verdana, sans-serif</p>
                            <p><em>Fonts prioritized from most too least wanted italic: Avenir Next, Avenir,Helvetica Neue, Helvetica, Arial, Calibri, Verdana, sans-serif</em></p>
                            <p><strong>Fonts prioritized from most too least wanted bold: Avenir Next, Avenir,Helvetica Neue, Helvetica, Arial, Calibri, Verdana, sans-serif</strong></p>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Brand-Fonts" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Fonts!</p>\n","patternBreadcrumb":{"patternType":"Brand","patternSubtype":"Font"},"patternExtension":"mustache","patternName":"Fonts","patternPartial":"Brand-Fonts","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Brand-Logo" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/01-Brand-Logo\index.html" class="patternLink" data-patternpartial="viewall-Brand-Logo">Logo</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Brand-Logo" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/01-Brand-Logo-Logo\01-Brand-Logo-Logo.rendered.html" class="patternLink" data-patternpartial="Brand-Logo" title="Link to Pattern">
                                Logo
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Brand-Logo" title="View Pattern Info" id="sg-pattern-extra-toggle-Brand-Logo" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Brand-Logo">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <header class="header">

                                <a class=" branding__link" href="#">
                                    <img class="branding__brand-image" src="https://mydnvglcdn.azureedge.net/cdn/common/images/logo/dnvgl-logo-wide.svg" alt="Back to DNV GL">
                                </a>
                                <!-- Put Application specific header code here-->

                            </header>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Brand-Logo" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>This is the DNVGL logo. Should have multiple sizes to toggle between</p>\n","patternBreadcrumb":{"patternType":"Brand","patternSubtype":"Logo"},"patternExtension":"mustache","patternName":"Logo","patternPartial":"Brand-Logo","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Components-Buttons" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/02-Components-Buttons\index.html" class="patternLink" data-patternpartial="viewall-Components-Buttons">Buttons</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Components-Active-And-Disabled-Buttons" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Buttons-Active-And-Disabled-Buttons\02-Components-Buttons-Active-And-Disabled-Buttons.rendered.html" class="patternLink" data-patternpartial="Components-Active-And-Disabled-Buttons" title="Link to Pattern">
                                Active And Disabled Buttons
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-Active-And-Disabled-Buttons" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-Active-And-Disabled-Buttons" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-Active-And-Disabled-Buttons">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <button type="button" class="btn btn-primary active">Active Primary</button>
                            <button type="button" class="btn btn-primary disabled" disabled="">Disabled Primary</button>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-Active-And-Disabled-Buttons" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>A button can be set to an active (appear pressed) or a disabled (unclickable) state.The class .active makes a button appear pressed, and the class .disabled makes a button unclickable:</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Buttons"},"patternExtension":"mustache","patternName":"Active And Disabled Buttons","patternPartial":"Components-Active-And-Disabled-Buttons","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-Block-Level-Buttons" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Buttons-Block-Level-Buttons\02-Components-Buttons-Block-Level-Buttons.rendered.html" class="patternLink" data-patternpartial="Components-Block-Level-Buttons" title="Link to Pattern">
                                Block Level Buttons
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-Block-Level-Buttons" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-Block-Level-Buttons" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-Block-Level-Buttons">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <button type="button" class="btn btn-primary btn-block">Button 1</button>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-Block-Level-Buttons" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>A block level button spans the entire width of the parent element.</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Buttons"},"patternExtension":"mustache","patternName":"Block Level Buttons","patternPartial":"Components-Block-Level-Buttons","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-Button-Sizes" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Buttons-Button-Sizes\02-Components-Buttons-Button-Sizes.rendered.html" class="patternLink" data-patternpartial="Components-Button-Sizes" title="Link to Pattern">
                                Button Sizes
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-Button-Sizes" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-Button-Sizes" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-Button-Sizes">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <button type="button" class="btn btn-primary btn-lg">Large</button>
                            <button type="button" class="btn btn-primary btn-md">Medium</button>
                            <button type="button" class="btn btn-primary btn-sm">Small</button>
                            <button type="button" class="btn btn-primary btn-xs">XSmall</button>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-Button-Sizes" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>These are the button tags you are able to use in order to change the size of a button.</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Buttons"},"patternExtension":"mustache","patternName":"Button Sizes","patternPartial":"Components-Button-Sizes","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-Button-Tags" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Buttons-Button-Tags\02-Components-Buttons-Button-Tags.rendered.html" class="patternLink" data-patternpartial="Components-Button-Tags" title="Link to Pattern">
                                Button Tags
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-Button-Tags" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-Button-Tags" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-Button-Tags">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <a href="#" class="btn btn-default" role="button">Link Button</a>
                            <button type="button" class="btn btn-default">Button</button>
                            <input type="button" class="btn btn-default" value="Input Button">
                            <input type="submit" class="btn btn-default" value="Submit Button">
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-Button-Tags" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>These are the button tags you are able to use. Button classes can be used on &lt;a&gt;, &lt;button&gt;, or &lt;input&gt; elements</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Buttons"},"patternExtension":"mustache","patternName":"Button Tags","patternPartial":"Components-Button-Tags","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-Default-Buttons" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Buttons-Default-Buttons\02-Components-Buttons-Default-Buttons.rendered.html" class="patternLink" data-patternpartial="Components-Default-Buttons" title="Link to Pattern">
                                Default Buttons
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-Default-Buttons" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-Default-Buttons" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-Default-Buttons">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <button type="button" class="btn btn-default">Default</button>
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-secondary">Secondary</button>
                            <button type="button" class="btn btn-subtle">Subtle</button>
                        </div>

                    </div>

                </div><!--end .sg-pattern-->
                <div id="Components-Drop-Down" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Buttons-Drop-Down\02-Components-Buttons-Drop-Down.rendered.html" class="patternLink" data-patternpartial="Components-Drop-Down" title="Link to Pattern">
                                Drop Down
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-Drop-Down" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-Drop-Down" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-Drop-Down">

                    </div>
                    <div class="sg-pattern-example">

                        <a href="#" class="btn btn-default" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> DNV GL Dropdown <span class="caret"></span> </a>
                        <ul class="dropdown-menu" id="menu1" aria-labelledby="drop4">
                            <li><a href="#">First</a></li>
                            <li><a href="#">Second</a></li>
                            <li><a href="#">Third</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>


                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-Drop-Down" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Buttons"},"patternExtension":"mustache","patternName":"Drop Down","patternPartial":"Components-Drop-Down","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Components-Feedbacks" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/02-Components-Feedbacks\index.html" class="patternLink" data-patternpartial="viewall-Components-Feedbacks">Feedbacks</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Components-alerts" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Feedbacks-alerts\02-Components-Feedbacks-alerts.rendered.html" class="patternLink" data-patternpartial="Components-alerts" title="Link to Pattern">
                                Alerts
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-alerts" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-alerts" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-alerts">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <div class="alert alert-success">
                                <a href="#" class="close" aria-label="close">×</a>
                                <strong>Success!</strong> This alert box could indicate a successful or positive action.
                            </div>
                            <div class="alert alert-info">
                                <a href="#" class="close" aria-label="close">×</a>
                                <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
                            </div>
                            <div class="alert alert-warning">
                                <a href="#" class="close" aria-label="close">×</a>
                                <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
                            </div>
                            <div class="alert alert-danger">
                                <a href="#" class="close" aria-label="close">×</a>
                                <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
                            </div>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-alerts" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Alerts description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Feedbacks"},"patternExtension":"mustache","patternName":"Alerts","patternPartial":"Components-alerts","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Components-Inputs" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/02-Components-Inputs\index.html" class="patternLink" data-patternpartial="viewall-Components-Inputs">Inputs</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Components-checkboxes" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Inputs-checkboxes\02-Components-Inputs-checkboxes.rendered.html" class="patternLink" data-patternpartial="Components-checkboxes" title="Link to Pattern">
                                Checkboxes
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-checkboxes" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-checkboxes" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-checkboxes">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Option 1</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Option 2</label>
                            </div>
                            <div class="checkbox disabled">
                                <label><input type="checkbox" value="" disabled="">Option 3</label>
                            </div>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-checkboxes" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Checkbox description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Inputs"},"patternExtension":"mustache","patternName":"Checkboxes","patternPartial":"Components-checkboxes","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-input-fields" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Inputs-input-fields\02-Components-Inputs-input-fields.rendered.html" class="patternLink" data-patternpartial="Components-input-fields" title="Link to Pattern">
                                Input Fields
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-input-fields" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-input-fields" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-input-fields">

                    </div>
                    <div class="sg-pattern-example">
                        <div class=" container">
                            <div class="form-group">
                                <label for="usr">Name:</label>
                                <input type="text" class="form-control" id="usr">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-input-fields" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Input field description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Inputs"},"patternExtension":"mustache","patternName":"Input Fields","patternPartial":"Components-input-fields","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-input-fields-with-button" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Inputs-input-fields-with-button\02-Components-Inputs-input-fields-with-button.rendered.html" class="patternLink" data-patternpartial="Components-input-fields-with-button" title="Link to Pattern">
                                Input Fields With Button
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-input-fields-with-button" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-input-fields-with-button" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-input-fields-with-button">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="input-group container">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-input-fields-with-button" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Input field with button description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Inputs"},"patternExtension":"mustache","patternName":"Input Fields With Button","patternPartial":"Components-input-fields-with-button","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-radio-button" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Inputs-radio-button\02-Components-Inputs-radio-button.rendered.html" class="patternLink" data-patternpartial="Components-radio-button" title="Link to Pattern">
                                Radio Button
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-radio-button" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-radio-button" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-radio-button">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 1</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 2</label>
                            </div>
                            <div class="radio disabled">
                                <label><input type="radio" name="optradio" disabled="">Option 3</label>
                            </div>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-radio-button" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Radio button description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Inputs"},"patternExtension":"mustache","patternName":"Radio Button","patternPartial":"Components-radio-button","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Components-Lists" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/02-Components-Lists\index.html" class="patternLink" data-patternpartial="viewall-Components-Lists">Lists</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Components-bootstrap-list" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Lists-bootstrap-list\02-Components-Lists-bootstrap-list.rendered.html" class="patternLink" data-patternpartial="Components-bootstrap-list" title="Link to Pattern">
                                Bootstrap List
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-bootstrap-list" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-bootstrap-list" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-bootstrap-list">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <ul class="list-group">
                                <li class="list-group-item">First item</li>
                                <li class="list-group-item">Second item</li>
                                <li class="list-group-item">Third item</li>
                            </ul>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-bootstrap-list" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Bootstrap list description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Lists"},"patternExtension":"mustache","patternName":"Bootstrap List","patternPartial":"Components-bootstrap-list","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-definition" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Lists-definition\02-Components-Lists-definition.rendered.html" class="patternLink" data-patternpartial="Components-definition" title="Link to Pattern">
                                Definition
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-definition" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-definition" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-definition">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <dl class="dl">
                                <dt>Definition List</dt>
                                <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
                                <dt>This is a term.</dt>
                                <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
                                <dt>Here is another term.</dt>
                                <dd>And it gets a definition too, which is this line.</dd>
                                <dt>Here is term that shares a definition with the term below.</dt>
                                <dd>And it gets a definition too, which is this line.</dd>
                            </dl>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-definition" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>DEfinition list description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Lists"},"patternExtension":"mustache","patternName":"Definition","patternPartial":"Components-definition","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-ordered" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Lists-ordered\02-Components-Lists-ordered.rendered.html" class="patternLink" data-patternpartial="Components-ordered" title="Link to Pattern">
                                Ordered
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-ordered" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-ordered" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-ordered">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <ol class="ol">
                                <li>This is a list item in an ordered list</li>
                                <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
                                <li>
                                    Lists can be nested inside of each other
                                    <ol>
                                        <li>This is a nested list item</li>
                                        <li>This is another nested list item in an ordered list</li>
                                    </ol>
                                </li>
                                <li>This is the last list item</li>
                            </ol>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-ordered" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Ordered list description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Lists"},"patternExtension":"mustache","patternName":"Ordered","patternPartial":"Components-ordered","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-unordered" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Lists-unordered\02-Components-Lists-unordered.rendered.html" class="patternLink" data-patternpartial="Components-unordered" title="Link to Pattern">
                                Unordered
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-unordered" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-unordered" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-unordered">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <ul class="ul">
                                <li>This is a list item in an unordered list</li>
                                <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
                                <li>
                                    Lists can be nested inside of each other
                                    <ul>
                                        <li>This is a nested list item</li>
                                        <li>This is another nested list item in an unordered list</li>
                                    </ul>
                                </li>
                                <li>This is the last list item</li>
                            </ul>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-unordered" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Unordered list description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Lists"},"patternExtension":"mustache","patternName":"Unordered","patternPartial":"Components-unordered","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Components-Text" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/02-Components-Text\index.html" class="patternLink" data-patternpartial="viewall-Components-Text">Text</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Components-blockquote" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Text-blockquote\02-Components-Text-blockquote.rendered.html" class="patternLink" data-patternpartial="Components-blockquote" title="Link to Pattern">
                                Blockquote
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-blockquote" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-blockquote" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-blockquote">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <blockquote>
                                <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
                            </blockquote>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-blockquote" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>This is a Blockquote. Insert description</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Text"},"patternExtension":"mustache","patternName":"Blockquote","patternPartial":"Components-blockquote","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-blockquote-with-citation" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Text-blockquote-with-citation\02-Components-Text-blockquote-with-citation.rendered.html" class="patternLink" data-patternpartial="Components-blockquote-with-citation" title="Link to Pattern">
                                Blockquote With Citation
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-blockquote-with-citation" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-blockquote-with-citation" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-blockquote-with-citation">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <blockquote>
                                <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. </p>
                                <cite class="citation">Quote Source</cite>
                            </blockquote>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-blockquote-with-citation" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>This is a blockquote with citation. Insert text here</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Text"},"patternExtension":"mustache","patternName":"Blockquote With Citation","patternPartial":"Components-blockquote-with-citation","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-headings" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Text-headings\02-Components-Text-headings.rendered.html" class="patternLink" data-patternpartial="Components-headings" title="Link to Pattern">
                                Headings
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-headings" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-headings" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-headings">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <h1>Heading Level 1</h1>
                            <h2>Heading Level 2</h2>
                            <h3>Heading Level 3</h3>
                            <h4>Heading Level 4</h4>
                            <h5>Heading Level 5</h5>
                            <h6>Heading Level 6</h6>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-headings" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>theese are the default headings provided by DNV GL. Insert text here</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Text"},"patternExtension":"mustache","patternName":"Headings","patternPartial":"Components-headings","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-inline-elements" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Text-inline-elements\02-Components-Text-inline-elements.rendered.html" class="patternLink" data-patternpartial="Components-inline-elements" title="Link to Pattern">
                                Inline Elements
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-inline-elements" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-inline-elements" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-inline-elements">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <p><a href="#">This is a text link</a></p>

                            <p><strong>Strong is used to indicate strong importance</strong></p>

                            <p><em>This text has added emphasis</em></p>

                            <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>

                            <p>The <i>i element</i> is text that is set off from the normal text</p>

                            <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>

                            <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>

                            <p><s>This text has a strikethrough</s></p>

                            <p>Superscript<sup>®</sup></p>

                            <p>Subscript for things like H<sub>2</sub>O</p>

                            <p><small>This small text is small for for fine print, etc.</small></p>

                            <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

                            <p>Keybord input: <kbd>Cmd</kbd></p>

                            <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>

                            <p>
                                <cite>This is a citation</cite>

                            </p><p>The <dfn>dfn element</dfn> indicates a definition.</p>

                            <p>The <mark>mark element</mark> indicates a highlight</p>

                            <p><code>This is what inline code looks like.</code></p>

                            <p><samp>This is sample output from a computer program</samp></p>

                            <p>The <var>variable element</var>, such as <var>x</var> = <var>y</var></p>

                            <p>The time element looks like this: <time>2 days ago</time></p>

                        </div><!--end .text-->

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-inline-elements" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Theese are inline elements. Insert text here</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Text"},"patternExtension":"mustache","patternName":"Inline Elements","patternPartial":"Components-inline-elements","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-mathematical-fragments" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Text-mathematical-fragments\02-Components-Text-mathematical-fragments.rendered.html" class="patternLink" data-patternpartial="Components-mathematical-fragments" title="Link to Pattern">
                                Mathematical Fragments
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-mathematical-fragments" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-mathematical-fragments" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-mathematical-fragments">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">

                            <h2>Mathematical text fragments</h2>

                            <p>
                                The DNV GL brand font, Avenir Next, is not well suited for displaying greek characters often used in mathematical formulas.
                                To adress thiss, wrap the formula in a &lt;span&gt; with the <code>.mathfrag</code> class.
                            </p>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Example</th>
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            α * π = φ<br>
                                            α β γ δ ε ζ η θ ι κ λ μ ν ξ ο π ρ ς τ υ φ χ ψ ω
                                        </td>
                                        <td>
                                            Plain text using default font, Avenir Next.
                                            The Alpha character in particular (<span class="mathfrag">α</span>)
                                            can be difficult to tell apart from a normal "a".
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="mathfrag">
                                                α * π = φ<br>
                                                α β γ δ ε ζ η θ ι κ λ μ ν ξ ο π ρ ς τ υ φ χ ψ ω
                                            </span>
                                        </td>
                                        <td>Text wrapped with <code>.mathfrag</code> uses the Times New Roman font.</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            A formula like this (<span class="mathfrag">α * π = φ</span>) can
                                            appear in the middle of a text. Or maybe you just want to refer to
                                            a certain symbol, like <span class="mathfrag">α</span>, in a formula it.
                                        </td>
                                        <td>Inline text wrapped with <code>.mathfrag</code>.</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-mathematical-fragments" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Text"},"patternExtension":"mustache","patternName":"Mathematical Fragments","patternPartial":"Components-mathematical-fragments","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-paragraph" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Text-paragraph\02-Components-Text-paragraph.rendered.html" class="patternLink" data-patternpartial="Components-paragraph" title="Link to Pattern">
                                Paragraph
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-paragraph" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-paragraph" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-paragraph">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies augue non turpis congue vehicula. Phasellus quis tristique turpis, eu blandit odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-paragraph" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>This is Paragraph. Insert....</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Text"},"patternExtension":"mustache","patternName":"Paragraph","patternPartial":"Components-paragraph","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-preformatted-text" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Text-preformatted-text\02-Components-Text-preformatted-text.rendered.html" class="patternLink" data-patternpartial="Components-preformatted-text" title="Link to Pattern">
                                Preformatted Text
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-preformatted-text" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-preformatted-text" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-preformatted-text">

                    </div>

                    <script type="text/json" id="sg-pattern-data-Components-preformatted-text" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Preformated text. Insert texxt here</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Text"},"patternExtension":"mustache","patternName":"Preformatted Text","patternPartial":"Components-preformatted-text","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-text-colors" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Text-text-colors\02-Components-Text-text-colors.rendered.html" class="patternLink" data-patternpartial="Components-text-colors" title="Link to Pattern">
                                Text Colors
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-text-colors" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-text-colors" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-text-colors">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h1>Typography</h1>
                                    <h2>Text colors</h2>

                                    <table class="table table-mid-align-rows">
                                        <thead>
                                            <tr>
                                                <th>Class</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><code>.dnvgl-skyblue-text</code></td>
                                                <td><span class="dnvgl-skyblue-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-landgreen-text</code></td>
                                                <td><span class="dnvgl-landgreen-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-seablue-text</code></td>
                                                <td><span class="dnvgl-seablue-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-cyan-text</code></td>
                                                <td><span class="dnvgl-cyan-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-yellow-text</code></td>
                                                <td><span class="dnvgl-yellow-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-purple-text</code></td>
                                                <td><span class="dnvgl-purple-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-orange-text</code></td>
                                                <td><span class="dnvgl-orange-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-red-text</code></td>
                                                <td><span class="dnvgl-red-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-warmgrey-text</code></td>
                                                <td><span class="dnvgl-warmgrey-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-gray-80-text</code></td>
                                                <td><span class="dnvgl-gray-80-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-gray-60-text</code></td>
                                                <td><span class="dnvgl-gray-60-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-gray-20-text</code></td>
                                                <td><span class="dnvgl-gray-20-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-gray-10-text</code></td>
                                                <td><span class="dnvgl-gray-10-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                            <tr>
                                                <td><code>.dnvgl-gray-05-text</code></td>
                                                <td><span class="dnvgl-gray-05-text">Lorem ipsum dolor sit amet</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-text-colors" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Different Text Colors. Insert text here</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Text"},"patternExtension":"mustache","patternName":"Text Colors","patternPartial":"Components-text-colors","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Components-text-helper-classes" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/02-Components-Text-text-helper-classes\02-Components-Text-text-helper-classes.rendered.html" class="patternLink" data-patternpartial="Components-text-helper-classes" title="Link to Pattern">
                                Text Helper Classes
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Components-text-helper-classes" title="View Pattern Info" id="sg-pattern-extra-toggle-Components-text-helper-classes" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Components-text-helper-classes">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">



                            <h1>Text helper classes</h1>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Example</th>
                                        <th style="width:40%;">Class</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><p>Normal text has this line height:<br> Shizz fo shizzle mah nizzle fo rizzle, mah home g-dizzle, gravida vizzle, arcu. Pellentesque crunk tortizzle. Sed erizzle. Black izzle sheezy telliv..</p></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><p class="condensed">Condensed text has reduced line height:<br> Shizz fo shizzle mah nizzle fo rizzle, mah home g-dizzle, gravida vizzle, arcu. Pellentesque crunk tortizzle. Sed erizzle. Black izzle sheezy telliv..</p></td>
                                        <td><code>.condensed</code></td>
                                    </tr>
                                    <tr>
                                        <td><p class="text-small">Small text</p></td>
                                        <td><code>.text-small</code></td>
                                    </tr>
                                    <tr>
                                        <td><p class="text-smaller">Smaller text</p></td>
                                        <td><code>.text-smaller</code></td>
                                    </tr>
                                    <tr>
                                        <td><h3 style="margin:0;">Heading which is <span class="light">partly light</span></h3></td>
                                        <td><code>.light</code></td>
                                    </tr>
                                    <tr>
                                        <td><p class="bold">Bold text</p></td>
                                        <td><code>.bold</code></td>
                                    </tr>
                                    <tr>
                                        <td><p class="subtle">Subtle text has a lighter colour.</p></td>
                                        <td><code>.subtle</code></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                Undecorated elements have no text decoration, like this link without underline:
                                                <a class="undecorated" href="#">Undecorated link</a>
                                            </p>
                                        </td>
                                        <td><code>.undecorated</code></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Components-text-helper-classes" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>Text helper classes. Insert description here</p>\n","patternBreadcrumb":{"patternType":"Components","patternSubtype":"Text"},"patternExtension":"mustache","patternName":"Text Helper Classes","patternPartial":"Components-text-helper-classes","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Layout-Dialogs" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/03-Layout-Dialogs\index.html" class="patternLink" data-patternpartial="viewall-Layout-Dialogs">Dialogs</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Layout-modal-size" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/03-Layout-Dialogs-modal-size\03-Layout-Dialogs-modal-size.rendered.html" class="patternLink" data-patternpartial="Layout-modal-size" title="Link to Pattern">
                                Modal Size
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Layout-modal-size" title="View Pattern Info" id="sg-pattern-extra-toggle-Layout-modal-size" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Layout-modal-size">

                    </div>
                    <div class="sg-pattern-example">
                        <!-- Large modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    ...
                                </div>
                            </div>
                        </div>

                        <!-- Small modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    ...
                                </div>
                            </div>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Layout-modal-size" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"","patternBreadcrumb":{"patternType":"Layout","patternSubtype":"Dialogs"},"patternExtension":"mustache","patternName":"Modal Size","patternPartial":"Layout-modal-size","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="Layout-modals" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/03-Layout-Dialogs-modals\03-Layout-Dialogs-modals.rendered.html" class="patternLink" data-patternpartial="Layout-modals" title="Link to Pattern">
                                Modals
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Layout-modals" title="View Pattern Info" id="sg-pattern-extra-toggle-Layout-modals" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Layout-modals">

                    </div>
                    <div class="sg-pattern-example">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Launch DNV GL modal
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">The DNV GL Modal</h4>
                                    </div>
                                    <div class="modal-body">
                                        Put description here
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Layout-modals" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"","patternBreadcrumb":{"patternType":"Layout","patternSubtype":"Dialogs"},"patternExtension":"mustache","patternName":"Modals","patternPartial":"Layout-modals","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Layout-Grid" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/03-Layout-Grid\index.html" class="patternLink" data-patternpartial="viewall-Layout-Grid">Grid</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Layout-grid" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/03-Layout-Grid-grid\03-Layout-Grid-grid.rendered.html" class="patternLink" data-patternpartial="Layout-grid" title="Link to Pattern">
                                Grid
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Layout-grid" title="View Pattern Info" id="sg-pattern-extra-toggle-Layout-grid" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Layout-grid">

                    </div>
                    <div class="sg-pattern-example">
                        <style>
                            .grid-element {
                                border: 1px solid white;
                                padding-top: 10px;
                                padding-bottom: 10px
                            }
                        </style>
                        <div class="container">
                            <div class="row dnvgl-gray-20-background">
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                                <div class="col-md-1 grid-element">.col-md-1</div>
                            </div>
                            <br>
                            <div class="row dnvgl-gray-20-background">
                                <div class="col-md-8 grid-element">.col-md-8</div>
                                <div class="col-md-4 grid-element">.col-md-4</div>
                            </div>
                            <br>
                            <div class="row dnvgl-gray-20-background">
                                <div class="col-md-4 grid-element">.col-md-4</div>
                                <div class="col-md-4 grid-element">.col-md-4</div>
                                <div class="col-md-4 grid-element">.col-md-4</div>
                            </div>
                            <br>
                            <div class="row dnvgl-gray-20-background">
                                <div class="col-md-6 grid-element">.col-md-6</div>
                                <div class="col-md-6 grid-element">.col-md-6</div>
                            </div>
                            <br>
                            <div class="row dnvgl-gray-20-background">
                                <div class="col-xs-12 col-sm-6 col-md-8 grid-element">.col-xs-12 .col-sm-6 .col-md-8</div>
                                <div class="col-xs-6 col-md-4 grid-element">.col-xs-6 .col-md-4</div>
                            </div>
                            <br>
                            <div class="row dnvgl-gray-20-background">
                                <div class="col-xs-6 col-sm-4 grid-element">.col-xs-6 .col-sm-4</div>
                                <div class="col-xs-6 col-sm-4 grid-element">.col-xs-6 .col-sm-4</div>
                                <div class="clearfix visible-xs-block grid-element"></div>
                                <div class="col-xs-6 col-sm-4 grid-element">.col-xs-6 .col-sm-4</div>
                            </div>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Layout-grid" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"
                        <p>DNV GL uses the Bootstrap Grid. Underneeth is an example of use. See Bootstrap documentation for more examples of uses</p>\n","patternBreadcrumb":{"patternType":"Layout","patternSubtype":"Grid"},"patternExtension":"mustache","patternName":"Grid","patternPartial":"Layout-grid","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
                <div id="viewall-Layout-Header" class="sg-pattern-category">
                    <h2 class="sg-pattern-category-title"><a href="../../patterns/03-Layout-Header\index.html" class="patternLink" data-patternpartial="viewall-Layout-Header">Header</a></h2>

                    <div class="sg-pattern-category-body">

                    </div><!--end sg-pattern-category-body-->

                </div><!--end sg-pattern-category-->
                <div id="Layout-header" class="sg-pattern">
                    <div class="sg-pattern-head">
                        <h3 class="sg-pattern-title">
                            <a href="../../patterns/03-Layout-Header-header\03-Layout-Header-header.rendered.html" class="patternLink" data-patternpartial="Layout-header" title="Link to Pattern">
                                Header
                            </a>
                        </h3>
                        <div class="sg-pattern-breadcrumb"></div>
                        <a href="#" data-patternpartial="Layout-header" title="View Pattern Info" id="sg-pattern-extra-toggle-Layout-header" class="sg-pattern-extra-toggle"><span>▼</span></a>
                    </div>
                    <div class="sg-pattern-extra" id="sg-pattern-extra-Layout-header">

                    </div>
                    <div class="sg-pattern-example">
                        <div class="container">
                            <header class="header">

                                <a class=" branding__link" href="#">
                                    <img class="branding__brand-image" src="https://mydnvglcdn.azureedge.net/cdn/common/images/logo/dnvgl-logo-wide.svg" alt="Back to DNV GL">
                                </a>
                                <!-- Put Application specific header code here-->

                            </header>
                        </div>

                    </div>
                    <script type="text/json" id="sg-pattern-data-Layout-header" class="sg-pattern-data">
                        {"cssEnabled":false,"patternLineageExists":false,"patternLineages":[],"lineage":[],"patternLineageRExists":false,"patternLineagesR":[],"lineageR":[],"patternLineageEExists":false,"patternDesc":"","patternBreadcrumb":{"patternType":"Layout","patternSubtype":"Header"},"patternExtension":"mustache","patternName":"Header","patternPartial":"Layout-header","patternState":"","patternEngineName":"mustache","extraOutput":{}}
                    </script>
                </div><!--end .sg-pattern-->
            </div> <!--end #sg-patterns-->

        </div>
    </div>


</div>