@model BridgeMVC.Models.Job

@{




    var bUser = ViewBag.bUser;
    var bEmail = ViewBag.bEmail;
}

<style>
    .bing {
        float: left;
        /*width: 450px;*/
        padding: 0.5em 1em 0.5em 1em;
        min-width: 400px;
        font-weight: bold;
    }

    .form-control {
        font-weight: normal;
    }
</style>

<h2 id="statement"></h2>
<input class="btn btn-default" value="Return to worklist" style="float:right" readonly onclick="window.location='@Url.Action("_Index", "Job")'" />

<script>



    //read viewbag's info.

    var Job = @Html.Raw(Json.Encode(Model));



    var BUser = @Html.Raw(Json.Encode(bUser));
    var BEmail = @Html.Raw(Json.Encode(bEmail));

    var bEmail = BEmail[0];
    var TargetUser = BUser[0];
    var emailReceiver = eval(bEmail.MailTo);
    var emailSubject = eval(bEmail.MailTitle);
    var emailBody = eval(bEmail.MailBody);

    if (Job.TaskHandler == "WHITEBOARD") {
        $('#statement').html("The job is sent to WHITEBOARD.");
    } else {
        window.location = 'mailto:' + emailReceiver + '?subject=' + emailSubject + '&body=' + emailBody;

        $('#statement').html("The job is sent to " + Job.TaskHandler + " for further handling.");
    }
 

</script>


